/*

Light blue 54c0e8
Black 101820
Blue 000f9e
Purple 9e28b5
Pink e60a95
Orange ff4712
Light Pink f6a6d6
Yellow f7e948

*/

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

html {margin: 0; padding: 0;}
body {
  background: #000f9e url('background.png') 0% 0% fixed no-repeat;
  background-size: auto 150%;
  text-align: center;
  font-family: monospace;
  margin: 0; padding: 0;
}
header {
  color: #f7e948;
  margin: 0 0 2em 0;
  padding: 1em;
  background-color: #000f9e;
  border-bottom: 1px solid #54c0e8;
}
hgroup {}
h1, h2 {margin: 0; line-height: 100%; font-family: 'Rock Salt', cursive; color: #f7e948;}
.category {margin: 2em;}
.main {max-width: 80em; margin: 0 auto;}
.product {
    background: rgba(246, 166, 214, .8);
    padding: 1em;
    border-radius: 1em;
    margin: 2em 0;
}
.photo-album {list-sty le-type: none; margin: 0; padding: 0;}
.photo-album li {margin: 0;}
.photo-album img {max-width: 100%;}
.photo-album a img:hover {background: transparent url("cloud.png") 50% 50% no-repeat; background-size: 90%;}
h3 {color: #101820; margin-top: none; font-size: 1.5em;}
.prices {font-size: 1.5em;}
.price-retail {text-decoration: line-through;}
.price-sale { background: url("burst.png") 50% 50% no-repeat; padding: .5em; display: inline-block; border-radius: 1em; background-size: 100% 100%;}
button {
  background: #e60a95;
  color: #ffffff;
  border: none;
  padding: 1em;
  border-radius: 1em;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-family: monospace;
}
button:hover {cursor: pointer;}

@media (min-width: 50em) {
  .category {display: flex; margin: 2em auto; justify-content: space-evenly; flex-wrap: wrap;}
  .product {width: 20em;}
}
